@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #B91355; /* Venus action punch */
    --color-primary-foreground: #FFFFEF;
    --color-hover: #D8A9D9;
    --heroui-primary: 334 78% 40%;         /* HSL or RGB values as needed */
    --heroui-primary-foreground: 60 100% 97%;
    --heroui-primary-opacity: 1;
}
